.chart-container {
    position: relative;
    margin: auto;
    height: 400px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .chart-container {
      width: 80%;
    }
  }
  .chart-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .card-header.text-center {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .table-dark {
    --bs-table-bg: #2a2e35;
    --bs-table-striped-bg: #2c3038;
  }
  
  .btn-outline-secondary {
    border-color: #495057;
    color: #adb5bd;
  }
  
  .btn-outline-secondary:hover {
    background-color: #495057;
    color: white;
  }