.progress-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.progress-bar {
  position: absolute;
  height: 5px;
  background: #007bff;
  width: 0%;
  transition: width 0.4s ease-in-out;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: lightgray;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 2;
  margin: 0 20px;
}

.step.active {
  background: #007bff;
}

.competence-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.competence-badge {
  padding: 10px 15px;
  border-radius: 50px; /* Cercle */
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  text-align: center;
  display: inline-block;
}

.competence-badge:hover {
  background-color: #ddd;
}

/* Quand une compétence est sélectionnée */
.competence-badge.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

/* Animation de survol */
.competence-badge:active {
  transform: scale(0.95);
}
