.d-flex.align-items-center {
    cursor: pointer;
  }

  canvas {
    max-width: 400px;  /* Largeur maximale */
    max-height: 300px;  /* Hauteur maximale */
    margin: auto;
    display: block;
  }

  